{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "ie >= 9",
          "last 2 iOS major versions",
          "last 2 Firefox major versions",
          "last 2 Safari major versions",
          "last 2 Chrome major versions"
        ]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}